<IfModule mod_rewrite.c>
# Activar RewriteEngine
    RewriteEngine on
    #RewriteBase /allparts
   # RewriteCond %{SCRIPT_FILENAME} !-d
    #RewriteCond %{SCRIPT_FILENAME} !-f

    #RewriteRule ^(.*)$ processor.php?pg=$1 [L]
   # RewriteRule ^productos/([^/]*)$ processor.php?pg=productos&id=$1 [L]

   RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^(es|en|nl)(.*)/([^/]*)/?([^/]*)/?$ processor.php?lng=$1&pg=$2&tipoPro=$3 [L]

RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^([^/]*)/?([^/]*)/?$ processor.php?pg=$1&tipoPro=$2 [L]

RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^(.*)$ processor.php?error404
    #ErrorDocument 404 /error404.html

    
</IfModule>